[2015-10-08 20:51] hyl opened #1 "Header search path"
Hi! Just a quick note to say that I had an issue with RTCBridge.h not being found, and the solution was to change the header paths from:
`HEADER_SEARCH_PATHS = "$(SRCROOT)/../node_modules/react-native/React/**";`

to:
`HEADER_SEARCH_PATHS = "$(SRCROOT)/../../react-native/React/**";`

in order to get this to work on my machine. Think Xcode is interpreting $(SRCROOT) as `node_modules/react-native-qu

[2015-10-08 21:25] jordanbyron commented on #1
Strange. It's working for me on one of my projects, but I'm willing to bet that could have something to do with my existing setup. Rather than replace the existing search path can you send a PR with the additional working search path included? I think that should cover both bases and still work.

Thanks for checking out the project! :bowtie:

[2015-10-09 10:04] hyl commented on #1
Fantastic, will do that then. Cheers!

[2015-10-09 12:56] #1 closed

[2015-10-16 14:57] grabbou opened #3 "Publish new npm release"
Hey, any chances latest fix gets published? Thanks

[2015-10-16 15:03] jordanbyron commented on #3
@grabbou done! Thanks for reminding me :smile:

https://www.npmjs.com/package/react-native-quick-actions

[2015-10-16 15:03] #3 closed

[2015-10-16 15:08] grabbou commented on #3
Thanks :)

[2015-10-16 15:09] grabbou opened #4 "Implement `popInitialGesture`."
When app is cold-launched with gesture

Pull request submitted. Currently being tested.

BTW, I think we could've aligned even more with the PushNotificationsIOS api and provide full flow support and `addListener` without calling DeviceEventEmitter.

[2015-10-16 19:51] jordanbyron commented on #4
https://github.com/jordanbyron/react-native-quick-actions/releases/tag/0.0.3

[2015-10-16 19:51] #4 closed

[2015-10-16 19:52] jordanbyron opened #6 "Provide full flow support and addListener without calling DeviceEventEmitter"
Support for:

[code]

[2015-10-16 19:54] jordanbyron commented on #4
@grabbou created issue #6 as well

[2015-10-16 19:56] jordanbyron opened #7 "Add support for dynamic actions"

[2015-10-16 20:49] grabbou commented on #7
What specifically? Defining them? I have Objective-C code that does exactly that particular thing, so can submit PR over the weekend.

[2015-10-16 20:54] grabbou commented on #6
I am not sure if handlers should be called as far as compliance with PushNotifications is considered.

As per Flow support, I can give it a go as well while implementing #7 if you don't mind ;)

[2015-10-16 20:56] grabbou opened #8 "[Naming] Shouldn't it be popInitialAction"
Just wondering, I think it fits better than `gesture` :+1:

[2015-10-16 21:09] jordanbyron commented on #7
@grabbou yup defining them, preferably via javascript if possible :godmode:

[2015-10-16 21:11] jordanbyron commented on #6
You're probably right that we shouldn't deviate too much from existing conventions. I just know from my personal useage of this component I thought it felt a bit clunky having to register the handler twice. Once for normal events and another for initial actions.

Go for it! I appreciate the help :smile:

[2015-10-16 21:12] jordanbyron commented on #8
:+1: We'll probably also want to reach into the Obj-C code and rename references to `initialGesture` as well.

[2015-10-16 21:14] grabbou commented on #8
Oh yeah, initialAction :) Will submit PR and this time my commits are going to land in master log!

[2015-10-16 21:15] grabbou commented on #6
Yeah, but on the other hand, that's how LinkingIOS and PushNotificationsIOS all work, so I have them all in one place, which is really nice. Up to you, but I would've stayed with that approach. Otherwise, if one have handler for initial action and for event emitter - handler may get invoked twice resulting in e.g. same view presented twice etc.

[2015-10-16 21:16] grabbou commented on #7
Oh yeah, we just need to figure out the best way to support all properties, including icons (available constants and custom ones from assets) - preferred use of `require(image!...)` as much as possible. I think we can leave the `localisedTitle` and `localisedDescription` since in most cases, translation will be done on JS side with e.g. `intl`

[2015-10-19 10:30] grabbou commented on #7
Done.

[2015-10-23 14:14] jordanbyron commented on #8
Closed by #9

[2015-10-23 14:14] #8 closed

[2015-10-23 14:15] jordanbyron commented on #7
Closed by #9

[2015-10-23 14:15] #7 closed

[2016-02-01 02:46] jjshammas opened #12 "Runtime crash on iOS 8"
If I try to run an app on iOS 8 that uses this plugin, I crash immediately with this error:

[code]

[2016-02-01 15:39] jordanbyron commented on #12
@Kemcake can you confirm this? TBH I didn't test iOS versions < 9

[2016-02-01 19:10] ptmt commented on #12
+1. I'm actually even can't compile with XCode 6. Yeah, this is my fault as a developer to forget about this when deploying to AppStore.

[2016-02-01 20:53] jordanbyron commented on #12
@ptmt @jjshammas since I assume you both have the iOS 8.x simulator installed, can you try changing the line in your `AppDelegate.m` file to this:

[code]

I'm curious to see if that works.

[2016-02-01 21:17] jordanbyron commented on #12
@jjshammas @ptmt at this point I'm pretty close to saying, "It just ain't gonna work", but I'm willing to be proven wrong. I spent a little while playing around with the 8.x iOS simulator and I can't get it working without removing nearly all references to `UIApplicationShortcut` classes.

@Kemcake let us know if there is something magic you did you get it working that we aren't doing.

[2016-02-02 09:25] grabbou commented on #12
Can't we use compile-time macros? http://stackoverflow.com/a/19790136

More details on various techniques here https://developer.apple.com/library/ios/documentation/DeveloperTools/Conceptual/cross_development/Introduction/Introduction.html

[2016-02-02 12:02] ptmt commented on #12
It would be nice solution if Apple can recompile apps against each SDK. As far as I understand, they don't do it, so we need a dynamic runtime checking. I'm thinking about something like this:
[code]

I hope to find the better and shorter solution, if not, will try to use this approach and test it today.

Too bad that there is at 17% share by iOS8, and it's even more on our target audience.

[2016-02-02 14:52] ptmt commented on #12
So, I wasted a few hours on #13, but it's scary me. I would go with Weak Linking (with simple Class checking as you already have in master) or even just would set target = iOS9 (sorry iOS 8 users).

[2016-02-10 22:44] jordanbyron commented on #12
Since we don't have any sane solutions for this issue I am going to say we just don't support older versions of iOS for the time being. If anyone wants to work on this more I'd be happy to review their work and merge it in if it doesn't add a ton of complexity. :8ball:

[2016-02-10 22:44] #12 closed

[2016-02-16 17:17] sevachb opened #15 "postinstall script is failing on Windows"
Npm installing react-native-quick-actions on Windows fails with:

npm ERR! react-native-quick-actions@0.1.2 postinstall: `scripts/postinstall`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the react-native-quick-actions@0.1.2 postinstall script 'scripts/postinstall'.
npm ERR! This is most likely a problem with the react-native-quick-actions package,
npm ERR! not with npm itself.
npm ERR! Tell

[2016-02-16 18:27] grabbou commented on #15
I am actually wondering if we need it at all. Seems pretty non-standard in the existing ecosystem @jordanbyron ?

[2016-02-16 18:42] jordanbyron commented on #15
Agreed. I was trying to be helpful because prior to rnpm and the updated
"Linking Libraries" docs this was a complicated and not very well
documented procedure. I'm pretty busy right now but if someone can send a
PR I'll merge it and publish a new release.

On Tue, Feb 16, 2016 at 1:27 PM Mike Grabowski <notifications@github.com>
wrote:

--
Jordan

[2016-02-16 19:02] sevachb commented on #15
Agreed. I'll PR the change soon.

[2016-02-16 21:16] jordanbyron commented on #15
#16 closes this issue

[2016-02-16 21:16] #15 closed

[2016-04-19 03:14] sevachon opened #19 "Using react-native-quick-actions on < iOS 9 crashes the container app"
I see that the react-native-quick-actions is only supported on iOS 9+, which is expected since this functionality was only added to the iOS 9 SDK (e.g. UIApplicationShortcutItems). However, I would expected the plugin to do nothing on downlevel versions, instead of crashing.

[2016-04-19 07:20] kemcake commented on #19
@sevachon You can try this: https://github.com/madriska/react-native-quick-actions/pull/11
This has been reverted here: https://github.com/madriska/react-native-quick-actions/commit/1f2a40b4c6eb2d17c768241b45b1613437073d91#comments

Please tell us if it works well for you 🙌

[2016-04-19 13:31] jordanbyron commented on #19
@sevachon also see #12. If you have any iOS development experience supporting multiple versions I'd happily review a PR that adds backwards compatibility without introducing excessive complexity. Until then I don't think there is much we can do as this is a road we've already been down with no success. Sorry 😞

[2016-04-19 13:31] #19 closed

[2016-06-23 08:48] superandrew213 opened #21 "Feature request: Custom icons"
It would be good if you could set custom icons. Will look into implementing it soon.

[2016-06-23 08:52] kemcake commented on #21
@superandrew213 Actually, you can do it by adding your icons directly to the xcode project `Images.xcasset` and referecing them by their name:

[code]

[2016-06-23 09:07] superandrew213 commented on #21
@kemcake awesome! Thanks

[2016-06-23 09:08] #21 closed

[2016-08-01 07:28] superandrew213 opened #23 "Listener does not trigger when app is started using 3d touch"
Listener does not trigger when app is started. Only if app is running in background.

[2016-08-01 12:39] jordanbyron commented on #23
@superandrew213 it sounds like you missed this line from the README:

[code]

[2016-08-01 22:52] superandrew213 commented on #23
@jordanbyron sure did. Thanks!

[2016-08-01 22:52] #23 closed

[2016-11-14 04:08] messense commented on #23
Tried this, still not working. Added some logs in objective-c code:

[code]

https://github.com/madriska/react-native-quick-actions/blob/master/RNQuickAction/RNQuickAction/RNQuickActionManager.m#L54

`_initialAction` is null.

[2016-11-14 13:53] jordanbyron commented on #23
@messense initial action is only populated when the app is started for the first time, not when it is already running in the background. Instead you should use `DeviceEventEmitter.addListener('quickActionShortcut', function(data) {})` to respond to quick actions while the app is loaded.

Also keep in mind that once you call `QuickActions.popInitialAction()`, subsequent calls to that function will

[2016-11-16 03:10] messense commented on #23
@jordanbyron My code is like:

[code]

[2016-11-17 03:29] messense commented on #23
@jordanbyron I am using [react-native-navigation](https://github.com/wix/react-native-navigation) with a tab based App, I am not sure where/when I should call `QuickActions.popInitialAction()`.

[2016-11-17 14:04] jordanbyron commented on #23
@messense could you create and share a simple example app that demonstrates that the problem with the `popInitialAction` function? From what I can tell your app has a lot of moving parts and it may be helpful to see a simplified example and go from there. Thanks!

[2016-11-21 06:05] messense commented on #23
@jordanbyron Never mind. Got it working now.

[2017-01-18 15:56] jordanbyron opened #27 "Come up with a better way to reference dynamic icon values"
Currently anytime Apple releases a new set of [`UIApplicationShortcutIconType`](https://developer.apple.com/reference/uikit/uiapplicationshortcuticontype?language=objc) we have to manually update our corresponding dictionnary which maps a string value to the enum value. This is stinky and I'd love to come up with a more elegant solution. We'd love to get some help with this.

Ref: #26
https://gith

[2017-02-05 03:47] xuanheScript opened #29 "React / RCTBridge.h not found in my project"
![image](https://cloud.githubusercontent.com/assets/19216775/22623516/8955f726-eb98-11e6-81f8-eeb95db7fd67.png)
I see someone experiencing a similar problem, I tried changing my headpath but did not succeed if I changed
![image](https://cloud.githubusercontent.com/assets/19216775/22623524/e6669c90-eb98-11e6-8bb2-dc7ce5d3d9ff.png)

[2017-02-06 14:42] jordanbyron commented on #29
@xuanheScript are you running React Native v0.40+? If not then you need to downgrade version v0.1.5 or lower of this app.

[2017-02-06 15:18] BogdanHossu opened #30 "App crashes when fresh opening force touch"
When i am trying to open my application with one of the quick actions i've created, the app crashes.
In RN I was handling it like this:

[code]

RN version: 0.40
"react-native-quick-actions": "^0.2.1",

[2017-02-07 15:34] jordanbyron commented on #30
@BogdanHossu what error messages are you getting?

[2017-03-02 22:32] zhouanbo commented on #23
@messense Could you share how did you get it to work? I'm also using react-native-navigation here and I'm also having null as the initial action.

[2017-03-03 01:42] messense commented on #23
@zhouanbo The trick is to call `QuickActions.popInitialAction` before start navigation.

[code]

[2017-03-06 01:51] #29 closed

[2017-03-29 15:18] YanaKopyshchyk opened #32 "Adding dynamic quick actions"
Hi! I added 3 static quick actions like in your example code. Then I added logic to this my static actions:

`const initialAction = QuickActions.popInitialAction();`
`  if ( initialAction ) {`
`    if ( initialAction.title === 'Map' ) {`
`      // doSomething...`
`    }`
` }`

But when app is running they don't work. How can I rewrite them? Or if I add dynamic actions like here
`QuickActions.setSh

[2017-03-29 20:01] jordanbyron commented on #32
`popInitialAction` is will only return the initial action when the app is started for the first time. Read the first half of the [Listening for quick actions in your javascript code](https://github.com/madriska/react-native-quick-actions#listening-for-quick-actions-in-your-javascript-code) section of the README and make sure you're listening for `quickActionShortcut` events.

[2017-03-29 20:01] #32 closed

[2017-03-30 08:35] YanaKopyshchyk commented on #32
I have looked at this file to understand whats going on. I listen the event `quickActionShortcut,` but nothing happens, logs are not displayed:(

[2017-04-03 15:33] #30 closed

[2017-04-10 12:44] ArtemKosiakevych opened #33 "Handling action when App is killed"
If app in background ShortcutAction called, but when app is killed tap on force touch item just launching app, but not calling the action.

My code
[code]

[2017-04-10 13:04] jordanbyron commented on #33
You're looking for this section of the README:

[code]

[2017-04-10 13:04] #33 closed

[2017-05-12 14:20] pietropizzi opened #35 "iOS 8 support"
This is more of a question than an issue.

Could you point me to what would have to change to make this iOS 8 compatible. And I don't mean that the feature has to work, just to prevent the app from crashing.

I could work an a PR if you give me some pointers.

[2017-05-12 14:30] jordanbyron commented on #35
Hi @pietropizzi! Take a look at #12 and #19. This is something we've attempted to do before but never made much progress. Good luck! Let me know if you have any questions. I'll keep this ticket open for a while.

[2017-05-29 10:22] Pollizzio opened #39 "Exception on Android < 7 (nougat)"
Hi,
I cannot run my App that imports QuickAction on Android < 7. I got the following exception:
C++ Exception in 'NativeModules': java.lang.NoClassDefFoundError: android.content.pm.ShortcutManager
<unknown>
    index.android.js:1
loadModuleImplementation
    require.js:171
guardedLoadModule
    require.js:123
_require
    require.js:107

I'm aware that quick action are available starting 7 but I e

[2017-05-29 16:20] jordanbyron commented on #39
Hey @Pollizzio,

As you pointed out we only support Android 7+ so if you need to target older version of Android you won't be able to use this library. Sorry.

[2017-05-29 16:20] #39 closed

[2017-06-09 14:34] #35 closed

[2017-06-27 17:39] njt1982 opened #41 "How to deal with QuickActions, Linking and "normal opening"..."
I have an opening scene component which does something like this:

[code]

This doesn't entirely work... Essentially I'm getting race conditions where promises are firing the authenticate method after the "else" toward the end.

When this page loads, I need to know if I need to:

* Handle a QuickAction (which links to only `DeepLinkedPage1` or `DeepLinkedPage2`)
* Handle a Deep Link from something

[2017-06-27 17:44] njt1982 commented on #41
The problem with Promise.Race is that it'll resolve as soon as any one of the 3 cases resolves (like the "nothing to do lets go to Home" scenario).

Promise.all is closer.. it'll wait for all of them to resolve... I guess I could use that to resolve Linking and QuickActions and then use a `.finally` for the main authenticate... but I'd only want finally to run if the first two promises resolve wit

[2017-07-28 20:33] gsdias opened #42 "Missing context for method declaration"
Hi, I followed all steps to install and link all dependencies but after putting the code in AppDelegate.m I get the following error:
![image](https://user-images.githubusercontent.com/1720784/28735277-8cde4840-73f5-11e7-921f-b946045b3a19.png)

Any help appreciated.

[2017-07-31 15:23] jordanbyron commented on #42
Hey @gsdias!

I think the problem is that you need to define that method after the `@implementation AppDelegate` line and before the `@end` statement in your `AppDelegate.m` file. See the example below:

[code]

Our README could be clearer about that. Let me know if that resolves your issue 🚒

[2017-07-31 18:45] gsdias commented on #42
Hi @jordanbyron, yes I manage to find the same solution. Including that code inside implementation AppDelegate fixes the problema and works just fine. Tks.

[2017-07-31 18:46] #42 closed

[2017-08-04 07:42] messense opened #43 "React Native 0.47 removed createJSModules on Android"
https://github.com/facebook/react-native/releases/tag/v0.47.0

[2017-08-15 00:16] #43 closed

[2017-08-28 04:11] Lxxyx opened #45 "java.lang.IllegalArgumentException: shortLabel cannot be empty"
config:

[code]

Log

[code]

[2017-08-28 04:20] Lxxyx commented on #45
fixed by set title not ''

[2017-08-28 04:20] #45 closed

[2017-08-28 04:54] Lxxyx opened #46 "[Android] Can not receive message from popInitialAction"
code:

[code]

iOS is ok, but android failed.

Android Version 7.1

android:launchMode="singleTop"

[2017-08-29 12:39] jordanbyron commented on #46
Hi @Lxxyx, How did that action fail in your Android build? Was there an exception thrown? Any more details would really help us out. Thanks!

[2017-08-29 12:47] Lxxyx commented on #46
@jordanbyron I fixed by just now.

When android, popInitialAction will only return data contains type.

Like:

[code]

So when I try to read userInfo, it failed.

Now I use:

[code]

[2017-08-29 12:47] #46 closed

[2017-09-20 15:42] ozsirma opened #47 "popInitialAction() is not working in iOS"
componentDidMount() {
..
QuickActions.popInitialAction()
.then((action) => console.log(action))
.catch(console.error);
..

DeviceEventEmitter is ok. But I could not start cold-launch app with quick actions.
log is null. How can I do ?

[2017-09-21 06:30] ozsirma commented on #23
I used react-native-navigation but initialQuickAction is null.  I use it the same way.

[2017-09-24 13:08] MacKentoch commented on #47
Same issue here, it is no more working on **cold start** with:
[code]

[2017-09-25 13:25] jordanbyron commented on #41
Hey @njt1982,

This seems more like a question suited for StackOverflow rather than our bug tracker. If you think there is a defect in `react-native-quick-actions` or a feature that could be added to allow for the type of workflow you are suggesting then this is the right place. Sorry it took me so long to say "Try someplace else". Best of luck! 🐎

[2017-09-25 13:25] #41 closed

[2017-09-25 14:08] jordanbyron commented on #47
I was able to successfully test `popInitialAction` in iOS 11 with the latest version of the library and react-native 0.42.3. Keep in mind that for the initial action to get set the app must be launched from a cold start. That means if you are using XCode to debug the app you have to edit the scheme to "Wait for the executable to be launched" so you can start it with a quick action rather than havi

[2017-10-05 12:20] yogiben opened #48 "Is it possible to create buttons whose content updates based on a web api"
Use case: we want to show bitcoin price in quick action menu. This would require an http call.

Is it possible to show a loading indicator, make a request then show the bitcoin price?

[2017-10-05 12:40] jordanbyron commented on #48
Hi @yogiben!

This seems more like a question better suited for [StackOverflow](https://stackoverflow.com/questions/tagged/react-native) rather than our bug tracker. If you think there is a defect in react-native-quick-actions or a feature that could be added to allow for the type of workflow you are suggesting then this is the right place. Best of luck! 🐎

[2017-10-05 12:40] #48 closed

[2017-10-09 07:55] ozsirma commented on #47
let initialQuickAction = null;
if (Platform.OS === 'ios') {
  const QuickActions = require('react-native-quick-actions');
  initialQuickAction = QuickActions.popInitialAction()
    .then((action) => {
      console.log(action);
    })
    .catch((error) => {
      console.log(error);
    });
}

export default function startApp() {
  Navigation.startSingleScreenApp({
    screen: {
      screen: 'Ho

[2017-10-09 12:48] jordanbyron commented on #47
@ozsirma check out this section from my last comment:

[2017-10-09 14:51] ozsirma commented on #47
I check your comment. But it is not working.
in my app, in home page I added these codes into componentDidMount()

Can you share sample code with us ? @MacKentoch

[2017-10-13 05:15] sahil290791 opened #49 "How to use an icon placed in drawable folder for shortcuts in android?"
I have currently placed set of icons in **drawable** folder, but react-native-quick-actions is unable to pick up the icon and it keeps displaying that android logo.

How can I use my own icons?

[2017-10-26 16:27] SukhKalsi commented on #47
Having the same issues as @ozsirma. We also using React Native Wix Navigation library with this library, and for cold start up it returns `null`.

`DeviceEmitter` works - but not having the cold start with `QuickActions` kinda prevents this from being implemented at all.

Environment:
`react-native`: 0.47.2
`react-native-quick-actions`: ^0.3.6
`react-native-navigation`: ^1.1.80

Is it possible for

[2017-10-26 17:29] jordanbyron commented on #47
Can anyone provide a simplified example showing that `popInitialAction` isn't working on a cold start? All of my tests show that it is working as expected.

[2017-10-27 09:06] SukhKalsi commented on #47
I could get an example but it'll essentially be the same as the Wix navigation example (plus adding in this module) - @jordanbyron could you clone the example and see if the library works as expected please?

Wix example app: https://github.com/wix/react-native-navigation/tree/master/example

Thanks

[2017-10-27 13:22] jordanbyron commented on #47
@SukhKalsi can you get an example only using`react-native-quick-actions` which shows that `popInitialAction` is not working? That's what _this_ issue is claiming, but I haven't been able to show that in my tests.

Trouble integrating this library with another is beyond the scope of what we're trying to address here. You're probably better off asking your question in StackOverflow.

[2017-10-27 13:25] jordanbyron commented on #49
Doing a quick read of the code it appears you can: https://github.com/madriska/react-native-quick-actions/blob/master/android/src/main/java/com/reactNativeQuickActions/AppShortcutsModule.java#L105-L106

In fact it looks like you can only pull icons from your package, unless I am misunderstanding how those two lines of code work.

[2017-10-27 13:30] jordanbyron commented on #47
Here is the example I've been working with to show that the library is working as expected. This is running `"react-native": "0.42.3"` and the latest version of `react-native-quick-actions`

[code]

[2017-10-31 14:48] SukhKalsi commented on #47
@jordanbyron Thanks for the example code. I suppose this is a tricky one as I'm sure the example you're using works perfectly fine, however the issue @ozsirma raised does in fact relate the how its integrating with Wix nav - see comment https://github.com/madriska/react-native-quick-actions/issues/47#issuecomment-335087364

@ozsirma Have you managed to get this resolved at all since last time you

[2017-10-31 15:03] MacKentoch commented on #47
@jordanbyron I guess/suspect in my case it was related to `react-navigation`.

When it worked my application still used RIP old school Navigator from RN.

Right now I just got rid of this feature.
For my concern issue is closed.

[2017-10-31 15:22] jordanbyron commented on #47
@SukhKalsi integration issues like this are beyond the scope of what I'm setup to handle here. A place like StackOverflow might be better suited to help you out. If there is some change that can be made to this library to better integrate with navigation libraries I'm more than happy to look at them. Of course if you do think this is a repeatable bug here please open a ticket and I'll take a look.

[2017-10-31 15:22] #47 closed

[2017-11-14 10:25] adiagr95 commented on #29
I'm using React native 0.40+, still facing the same error. I've already tried everything possible.

[2017-11-15 08:30] ItsNoHax opened #51 "[Android] Android doesn't save UserInfo in intent"
There is inconsistent behaviour between iOS and Android.
You are only saving the type of shortcut in Android's intent while iOS also saves the UserInfo so that it is available even after the app is killed.

Edit: Because we need the information to persist after the app gets killed I made my own branch with a somewhat ugly but functional change. https://github.com/ItsNoHax/react-native-quick-action

[2017-12-12 21:12] JackThomson2 opened #52 "[Android] Not receiving events nor inital params"
iOS is working perfectly for me, so thanks for that 👍
On Android, I'm not getting any of the launch parameters from hot or cold. I believe this could be due to that I'm using Wix's Native Navigator, any ideas?

Thanks Jack

[2017-12-13 00:54] jordanbyron commented on #52
Hey @JackThomson2,

Glad to hear your iOS implementation is working. As for Android, it sounds like this is either a problem with your specific implementation or some conflict with Native Navigator. Since I don't have any additional details about either of those, and my guess is it isn't actually a problem with react-native-quick-actions, you're probably best off posting to stackoverflow to see if

[2017-12-13 00:54] #52 closed

[2017-12-15 18:13] jordanbyron commented on #51
Hey @ItsNoHax!

I noticed that as well when this was originally implemented, but I assumed it was a limitation of Androids shortcut functionality. Can you submit this as a PR so we can discuss the code there?

Thanks!

Jordan

[2017-12-15 22:05] ItsNoHax commented on #51
Say no more.

Let me clean up the commit history and look into serializing the whole user info  JSON object instead of only the url.

Alberto

[2017-12-20 00:26] rsml opened #55 "Opening the app from a cold start on iOS using a quick action fails"
Tested on:
iPhone 7 Device, iOS 11.2

If the app is not running in the background, and I start the app using one of the shortcut items (that I've previously set using these steps: https://www.npmjs.com/package/react-native-quick-actions#adding-dynamic-quick-actions)

Then when I try to retrieve the shortcut item that was clicked, I am receiving null. For example:

[code]

[2017-12-20 11:38] ItsNoHax commented on #55
We use this library in production and it works perfectly. Just went ahead and tested our test device (iPhone 6S) to iOS 11.2.1 and it works perfectly even after app cold launch. If you could upload a full test repository that reproduces your case I could help you out.

[2017-12-20 12:46] jordanbyron commented on #55
@rsml can you provide a slimmed down example which reproduces the problem? This is my "bare bones" iOS app that I use to test cold launching with quick actions:

https://github.com/jordanbyron/react-native-quick-actions/issues/47#issuecomment-339971736

Just like @ItsNoHax, I too am using this library on iOS 11.2 with no issues.

[2017-12-20 20:02] rsml commented on #55
It'll take some time for me to slim down my project to share it. The issue is very intermittent and I don't have reliable steps to reproduce it yet. Like the poster in the thread your mentioned, I'm also using react-navigation (v1.0.0-beta.15), so react-navigation is likely the culprit. I'll close this ticket and do some investigating into react-navigation when I have time.

Thanks for your work o

[2017-12-20 20:02] #55 closed

[2018-01-12 09:50] aidan2129 commented on #49
I got it working in the drawable folder just had to rename my icons to make sure they had no uppercase characters or dashes and re install the app would be nice if this was in the documentation.

[2018-01-12 17:22] jordanbyron commented on #49
Can you submit a PR with the updated docs?
On Fri, Jan 12, 2018 at 4:50 AM Aidan <notifications@github.com> wrote:

--
Jordan

[2018-01-13 17:15] haotangio opened #56 "`popInitialAction` only returns `type` in result"
`popInitialAction` only returns `type` in result

Can we change it to return the full quick action item?

[2018-01-13 23:09] jordanbyron commented on #56
If you are referring to Android (which I suspect you are) that should be covered in #54.

[2018-01-14 01:46] haotangio commented on #56
Yes, that's correct

[2018-01-15 17:15] illusionzmn opened #57 "White screen with Wix Navigation"
Hey, this is very cool library.
I had this working with react-navigation, due to performance issue i switched to wix's navigation and i discovered that if i launch from quick action it shows white screen which made me sad :(

[2018-02-21 16:50] msageryd opened #58 "3d touch info in gesture responder?"
Could this library be extended to support 3d touch in the React Native gesture responder?

[2018-02-21 16:54] msageryd commented on #58
Sorry, I just found out about `event.nativeEvent.force`. Closing this non-issue.

[2018-02-21 16:54] #58 closed

[2018-04-21 15:03] 404sand808s opened #60 "Installation issue: 'RNQuickActionManager.h' file not found"
Hey, feel like this should be straightforward enough but I actually can't tell what I'm doing wrong.

Followed the installation instructions as per the RN page you linked but I keep getting the error 'RNQuickActionManager.h' file not found in my import of #import "RNQuickActionManager.h" in my AppDelegate.m file.

I did the manual install on iOS. Thanks in advance for any help or insight!

[2018-04-21 15:12] jordanbyron commented on #60
Hey @404sand808s,

My guess is you need to make sure you follow the instructions [here](http://facebook.github.io/react-native/docs/linking-libraries-ios.html#content) which including a step to link your project to react-native-quick-actions. Hopefully that helps. If not give Stack Overflow a try and if you find a bug with our code or documentation open up a ticket here and we'll fix it.

[2018-04-21 15:12] #60 closed

[2018-04-23 15:51] lucky-xiaohu opened #61 "npm repo not update yet"
I have install this module with `npm install react-native-quick-actions --save`, the version i get still 0.3.6, it is about 8 month ago, new merge since then has not update to npm repo yet.
so it is time to update to npm repo or i have to install newest version from github?

[2018-04-23 17:16] jordanbyron commented on #61
@lucky-xiaohu the only significant code changes that haven't been released is switching to use the main thread in iOS. Aside from that all of the recent changes have been to documentation, so `0.3.6` should be good to go.

[2018-04-23 17:16] #61 closed

[2018-06-07 09:35] vishalgadhiya91 opened #64 "action button not display on home screen or even app is open,Android(7.1)"
Hi,

I have implement this code in my test project in "app.js", but it will not work.
Any quick option or menu can't display.
I have tested in android real device (7.1)
Please check my below code and respond me.

import React, { Component } from 'react';
import {
  Platform,
  StyleSheet,
  Text,
  View,
  Alert,
  DeviceEventEmitter
} from 'react-native';

var QuickActions = require('react-native

[2018-06-07 10:39] jordanbyron commented on #64
Hi @vishalgadhiya91. I'm sorry you can't get your example code to work. This tracker is for bugs with the library, not support using the library. That being said I did quickly review your example and it looks like you are using the iOS example code for icons which may be causing problems.

I suggest you review the README first and if that doesn't answer your question try posting it to a service li

[2018-06-07 10:39] #64 closed

[2018-06-07 14:47] vishalgadhiya91 commented on #64
Thanks for replay.

[2018-07-30 18:07] Dexwell opened #65 "Unable to resolve path to module"
Hey, thank you for this awesome library! 💖

It works great, however my ESLint is complaining:

Despite installation through npm. Other packages don't have this issue.
Could you look into this?

[2018-07-31 10:44] jordanbyron commented on #65
Hey Dexwell. Sounds like you've got a configuration problem with ESLint and/or your package setup. You're better off posting this to Stackoverflow or an equivalent site. This tracker is for bug reports and feature requests for `react-native-quick-actions`. I doubt ESLint expects package maintainers to do anything special to support their linter, but if you find there is something this library shou

[2018-07-31 10:44] #65 closed

[2018-07-31 11:19] Dexwell commented on #65
I think I figured out what caused it. Your package has separate `index.ios.js` and `index.android.js` files. Most other packages have one `index.js` file that includes the appropriate files based on the platform. This is probably what ESLint was looking for.

Anyway, adding this to my ESLint fixed it for me.

[code]

[2018-08-24 11:47] JonasWho opened #66 "android:launchMode="singleTop" not receiving quickActionShortcut events"
As the docs state, it should be only `android:launchMode="standard"` that does not receive `quickActionShortcut` events from `DeviceEventEmitter` but I'm using `singleTop` and experiencing the same behaviour.
Actually, it seems to be the case on Android no matter what launchmode I choose.

Anybody else experiencing this?

React Native 0.54.4
Device: Samsung Galaxy S8
OS: Android 8.0.0

[2018-08-27 08:45] ItsNoHax commented on #66
I sent a PR to fix this MONTHS ago: https://github.com/jordanbyron/react-native-quick-actions/pull/54

But here we are...

[2018-08-27 08:58] JonasWho commented on #66
@ItsNoHax thanks, maybe I'll jump on over to your fork then, or have you changed other stuff dramatically?

[2018-10-13 12:13] jordanbyron opened #67 "sendDeviceEventWithName:body:' is deprecated: Subclass RCTEventEmitter instead"
https://github.com/jordanbyron/react-native-quick-actions/blob/master/RNQuickAction/RNQuickAction/RNQuickActionManager.m#L158

[2018-10-17 02:48] rdonnelly opened #68 "README Missing Instructions"
Trying use this package, I was having a number of issues with getting the backgrounded start to work. Looks like there were some useful comments recently removed from the README. Any reason for that? On iOS adding this back in fixed it:

[code]

[2018-10-17 11:42] #68 closed

[2018-10-17 13:42] rdonnelly commented on #68
Awesome, thank you! Really appreciate the library as well! 👏

[2018-11-20 01:44] alpamys-qanybet commented on #21
@superandrew213, @kemcake, hi there, what about defining in ```Info.plist``` statically?

[2018-11-20 11:46] jordanbyron commented on #21
@alpamys-qanybet RTM:

https://github.com/jordanbyron/react-native-quick-actions#adding-static-quick-actions---ios-only

[2018-11-20 11:51] jordanbyron commented on #66
@JonasWho if you take a peek at #54 you can get the backstory, but the tl;dr is I was not able to manually QA test the Android PR and haven't had anyone step up to help out. The android code in this repo was written by someone else which means I'm not super comfortable with it, and making changes to it. That combined with a lack of automated tests and my unfamiliarity using RN on Android, here we

[2018-11-22 06:59] JonasWho commented on #66
@jordanbyron ok, that's fair. I would love to help, but also do not have the capabilities unfortunately :(

[2018-12-10 15:53] Gshock1 opened #69 "Adding react-native-quick-actions as an external library"
Hi all,

Thanks for your attention.
I would like to add this plugin without update all others libraries, so I manually added it to the node_modules folder. Also, I've updated all the necessary header files in xCode.

The thing is that in IOS, react native still says that it cannot find the module in node_modules library.
Android works just fine.

Any help?
Thanks.

[code]

[code]

[2018-12-10 22:08] jordanbyron commented on #69
This is a question better suited for StackOverflow rather than our bug tracker, as it is not a defect in `react-native-quick-actions`. Best of luck! 🍡

[2018-12-10 22:08] #69 closed

[2018-12-12 17:38] #51 closed

[2018-12-12 17:44] #66 closed

[2018-12-12 17:44] #56 closed

[2018-12-22 20:59] Angelk90 opened #71 "Some information for android"
Hi @jordanbyron, @grabbou  congratulations on the module.

I asked myself some questions:
1) It would be possible to improve the documentation related to android in particular how the various props work and put some images, a gif would be better.

I am not clear well what serveno:
`type: "Orders",` What values can you take?

`subtitle: "See orders you've made",` Where is it used in android?

`icon

[2018-12-28 06:11] SunnyEver0 opened #72 "buildToolsVersion conflict"
Can you change several parameters such as buildToolsVersion to read from the configuration file of the project root directory?
Like this function below:
[code]
usage:
[code]

[2018-12-28 14:52] jordanbyron commented on #71
Hey @Angelk90,

Most of your questions in #1 are covered in the readme. I don't believe Android supports the subtitle attribute at the moment so that can be ignored. Icons are described, and `userInfo` can be any custom key / value structure.

#2 sounds like a better question for stack overflow as it is asking how to use the library, not reporting a deficiency or bug, which is what this space is f

[2018-12-28 14:52] #71 closed

[2018-12-29 02:40] SunnyEver0 commented on #72
aha, I'll submit pr soon.thx.

[2018-12-29 02:57] SunnyEver0 commented on #72
@jordanbyron hello, I have already submit the pr, plz review. thanks

[2019-01-10 09:51] aminvb12 opened #75 "open specific screen using 3d touch react-native-quick-action"
Hey guys
I'm using react-navigation and also define some screen.
I set up deep linking but I can't navigate to specific screen with react-native-quick-action.
react-native-quick-action work well but it just open up first screen.
How can I navigate to specific screen using react-native-quick-action?

[2019-01-10 12:13] jordanbyron commented on #75
Hi @aminvb12,

This seems more like a question better suited for StackOverflow rather than our bug tracker. If you think there is a defect in react-native-quick-actions or a feature that could be added to allow for the type of workflow you are suggesting then this is the right place. Best of luck!

[2019-01-10 12:13] #75 closed

[2019-01-23 09:31] davidmarinangeli opened #76 "EventDeviceEmitter never called/always empty in console.log"
Hello, I'm trying to start a screen ( _screen2_ ) when I press the quickaction. Unfortunately I can't make this work out.

In my screen I declare:

[code]

and then, in `componentDidMount` I call (as you do in your demo):

[code]

Unfortunately DeviceEventEmitter returns always undefined and the `eventTitle` is always empty in the state. I tried several things such as move the `DeviceEventEmitter`

[2019-01-23 11:38] jordanbyron commented on #76
Hey Dave,

Do you have a small example app which you can share that reproduces the problem you've described? It sounds like a problem with the way you are using the library, but without a more comprehensive example I can't say for sure.

[2019-01-23 12:59] davidmarinangeli commented on #76
Here's a gist I created from my Component: as you can see from my console, when I cold-launch the app I can see the popInitialAction data but nothing else.

![screenshot 2019-01-23 at 13 56 58](https://user-images.githubusercontent.com/19487461/51608198-0e87cb00-1f17-11e9-91c0-00b3fc1f3919.png)

https://gist.github.com/davidmarinangeli/d604261f920aca177bb8a536a8b28783

[2019-01-23 14:57] davidmarinangeli commented on #76
@jordanbyron I've tried also to set the state with the new values but DeviceEventEmitter doesn't work.

The event isn't dispatched, could it be related to #67 ?

[2019-02-28 22:14] bryantee opened #77 "Provide TypeScript types to the project"
Would be great if we got some static type checking out of the box. Granted this isn't a massive library, but anything helps. I can try and tackle this if it is of any value.

Somewhat related to #6 for adding Flow support.

[2019-03-01 17:44] jordanbyron commented on #77
@bryantee I don't have a lot of exposure to typescript so I won't be much help in rolling it out. As long as whatever we do is backwards compatible I'm happy to review it. Thanks!

[2019-03-07 18:14] CRiva commented on #47
Just a quick way to fix the null error experienced here for anyone else still confused:

when setting the event listener, ensure the function is null safe, like this:

[code]

it's the `if (data)` that makes the function only "run" when data exists.

[2019-04-03 19:03] alpamys-qanybet opened #79 "iOS. Xcode. No account for team "468H2V2QVS"."
When I try to build my app by Xcode for iOS there is this error.

[code]

[code]

Why this happens to your library?

[2019-04-03 19:38] jordanbyron commented on #79
@alpamys-qanybet sounds like a problem with your XCode / Project setup and doesn't have anything to do with this library. You might have some luck over at StackOverflow. Best of luck!

[2019-04-03 20:29] alpamys-qanybet commented on #79
@jordanbyron, the writers of this library hard-coded their team name ```468H2V2QVS``` to project. You can just search for this text, ```stack overflow``` and ```googling``` suggests to delete this lines, and that this is ```not sanitized``` before release project. So, what is the proper way, to delete your library's hardcoded team lines every time or just publish ```sanitized``` version?!

[2019-04-03 21:51] jordanbyron commented on #79
Ah I see. This line here: https://github.com/jordanbyron/react-native-quick-actions/blob/13c61befb94c48344d25176f4e11b583f6c6ca35/RNQuickAction/RNQuickAction.xcodeproj/project.pbxproj#L98

Strange no one else has reported a problem with it. Care sharing the documentation you found about sanitizing the project file before release so I can check it out?

[2019-04-03 23:19] alpamys-qanybet commented on #79
@jordanbyron, I re-installed my OS, so that lost browser history.

[2019-04-03 23:25] jordanbyron commented on #79
Bummer. If you figure it out I’ll happily accept a PR to fix the change on my end. In the meantime you might want to still check out Stackoverflow for help with your project.

[2019-04-03 23:25] #79 closed

[2019-04-09 21:39] MBach opened #81 "Release build failed"
Hi,

Using `"react-native-quick-actions": "0.3.10"` I can't build my App any more!

[code]

[2019-04-09 22:09] jordanbyron commented on #81
Have you tried an earlier release? There was a recent change to the Android build you might be hitting up against.

[2019-04-10 08:08] MBach commented on #81
Release 0.3.9 was working fine.

I have made a complete clean but it didn't work as excepted (removed node_modules, Android build folders, etc.)

[2019-04-10 10:43] jordanbyron commented on #81
If 0.3.9 is working then I'd suggest you take a look at the [release notes for 0.3.10](https://github.com/jordanbyron/react-native-quick-actions/releases/tag/0.3.10) and the PR which introduced the change to 0.3.10 #80. As I've said in the past my android knowledge is fairly sparse. It's possible #80 introduced a breaking change and I should have bumped the version to 0.4, but that wasn't immediat

[2019-04-12 19:24] MalcolmScruggs opened #82 "Unable to mock via jest"
testing my code using this package is turning out to be seemingly impossible. I tried mocking the `react-native-quick-actions` module in jest via:

[code]

That didn't work because it kept returning this error: `TypeError: _reactNativeQuickActions2.default.popInitialAction is not a function` which confuses me, because I can't find `_reactNativeQuickActions2` anywhere in your code here.

I tried th

[2019-04-12 19:31] jordanbyron commented on #82
Hey @MalcolmScruggs,

Sorry to hear you are having problems stubbing out this library in your tests. It sounds like you are asking the more generic question: "How do I mock (or stub) out ES6 imports in jest". I took a look over at stack overflow for you and found this:

https://stackoverflow.com/questions/40465047/how-can-i-mock-an-es6-module-import-using-jest#40486695

This is a bug tracker, so i

[2019-04-12 19:31] #82 closed

[2019-04-12 23:17] MalcolmScruggs commented on #82
Based on the way this package is setup, using jest to mock it is extremely difficult and unwieldy. To solve this issue I wrapped the API of this package in my own interface to easily mock it.

[2019-04-12 23:21] jordanbyron commented on #82
Thanks for the update Malcom. Again if you have any suggestions or ideas for how this library could be easier to test with Jest, or in general, I’m all ears.

[2019-04-15 18:34] MalcolmScruggs commented on #82
Jest gives very confusing error messages, so my error was mainly understanding what jest was giving back. Nothing wrong with the library, using this in a `__mocks__` directory worked as expected:

[code]

[2019-04-17 10:13] stephane-r opened #83 "Question : how use navigation on popInitialAction Promise ?"
Hi Jordan !

I try your very nice module on react-native app, All work perfectly :)

But, i've a question : `QuickActions.popInitialAction` is not executed in a react component, so, how i can use for example Navigation props ?

I've try to use [this method](https://reactnavigation.org/docs/en/navigating-without-navigation-prop.html), but i think it's not the best solution :D

Thank you Jordan

[2019-04-17 10:24] jordanbyron commented on #83
Hey @stephane-r,

I'm glad to hear you are enjoying this library. For questions like this your best off posting to a place like StackOverflow. This is our libraries bug and feature tracker. My guess is it's a timing problem, but with more context I'm sure someone in a troubleshooting community would be able to get you up and running.

Best of luck -- Jordan

[2019-04-17 10:24] #83 closed

[2019-04-17 10:25] jordanbyron commented on #81
@MBach ping. Any luck figuring out what was happening here?

[2019-04-17 22:35] MBach commented on #81
I think something like this should do the trick:

[code]

With this, the release build was OK!

[2019-04-19 12:16] jordanbyron commented on #81
@MBach thanks for the update. We've been down this road before in #73, but the efforts stalled when I asked for some protections in the `safeExtGet` method to ensure the project's current `compileSdkVersion` and `minSdkVersion` don't drop below the required version for the project. Mostly to save the consumers of this library from trying to use this in a project that doesn't support application sh

[2019-04-19 13:03] MBach commented on #81
So it's not really a problem IMO. Fix the `minSdkVersion` to 21 and you're good to go! Right now, I don't think anyone is using a `compileSdkVersion` lower than 25.

[2019-04-19 14:26] jordanbyron commented on #81
Is this something you’d be willing to cook up? Or do you think #73 is close to what you’d do and I should just resurrect that and merge it in? Leaning pretty heavily on your experience here as again I’m feeling around in the dark.

[2019-04-19 23:43] MBach commented on #81
If I remember correctly, dynamic shortcuts are working only with SDK 25 (Android 7.1), so it's kind of strange to have a `minSdkVersion` at 21. There is no reason to upgrade the lower bound to 21 instead of 16.

Also, you are using `@TargetApi` which is an old way to do it.
I think the Android implementation could be refactored by using `@RequireApi` and wrapping the bridge with a classic if state

[2019-05-20 18:43] itsam opened #84 "Android Back Button"
Thank you for the great component.
In Android everything seems to work as expected but the following:
When you exit by pressing the "hardware Android Back Button" then, using quick actions do not trigger neither popInitialAction nor quickActionShortcut (is being listened by the DeviceEventEmitter).

Please note that android:launchMode="singleTop" in the AndroidManifest.xml
Thank you in advance

[2019-05-28 05:02] kevinhermawan opened #86 "[Question] Android Minimum SDK"
Hi @jordanbyron, can you explain why this library need Android SDK min 21? I've been tested on Android devices with SDK 19 and decreasing min SDK on this library to 19 and still work.

[2019-05-28 12:01] jordanbyron commented on #86
I don’t recall exactly why. A git blame in the right place would answer that question.

Jordan

[2019-05-28 15:01] kevinhermawan commented on #86
Thanks, answered by this PR #74

[2019-05-28 15:01] #86 closed

[2019-06-06 23:43] rsml opened #87 "iOS warning: [setShortcutItems()] UI API called on a background thread"
I have an app where on iOS it opens in response to clicking a universal link. Then I immediately call setShortcutItems().

I get this warning in the console, but no crash:
[code]

I'm calling setShortcutItems() from inside javascript so I'm not sure what's causing it to run on a background thread.

I'm thinking you might need to add a ```Dispatch.main.async``` on iOS for cases when it's running in

[2019-06-06 23:49] rsml commented on #87
My coworker suggested this change:

In RNQuickActionManager.m

Change:
[code]

To:
[code]

[2019-06-25 04:55] leonid-shevtsov commented on #60
Had the same issue. However I linked the library manually to avoid Cocoapods - then I needed to reference the header file by adding this to "Header Search Paths" (go to your project's file, select "Build Settings" and search for "Header Search Paths")

[code]

[2019-08-16 02:53] pssgo opened #89 "QuickActions has a Incorrect display"
![image](https://user-images.githubusercontent.com/16378134/63140190-a6fcae80-c013-11e9-8fe7-c02860ff9c2f.png)

![image](https://user-images.githubusercontent.com/16378134/63140201-b845bb00-c013-11e9-885c-4ed92b84f412.png)

![image](https://user-images.githubusercontent.com/16378134/63140221-c98ec780-c013-11e9-88d1-1e5b6cbc07c5.png)

When I removed the dependency package, it worked fine, and the q

[2019-08-16 08:47] JonnyBurger commented on #77
I installed the update with the TS definition file.

Two questions.. Is `userInfo` an optional property? Now I get a TS error because I did not specify `userInfo` property.
Also, must it be of the shape `{url: string}` or can it be an arbitrary object?

cc @kevinhermawan

[2019-08-17 03:47] kevinhermawan commented on #77
@JonnyBurger `userInfo` is required property and and the value can't an arbitrary object

[2019-08-17 09:54] JonnyBurger commented on #77
@kevinhermawan Hmm, why does the comment say in the README

[code]
?

[2019-09-22 19:23] alpamys-qanybet commented on #47
@jordanbyron, I don't know how, but version 0.3.9 works but 0.3.12 not with wix navigation v1.

[2019-11-13 22:58] Rehubbard opened #90 "userInfo & userInfo.url required for Android when calling setShortcutItems"
On Android, the only way to get my Android build to work is to specify the `userInfo` property with a `url` field.

This works:
[code]

But this crashes the app:
[code]

Is userInfo.url required on Android? If so, the readme could be updated to say that. I'm just curious and making sure i'm not doing anything wrong. Thanks for the awesome library!

[2019-11-14 19:09] jordanbyron commented on #90
This looks like the code in question:

https://github.com/jordanbyron/react-native-quick-actions/blob/master/android/src/main/java/com/reactNativeQuickActions/UserInfo.java

I'm assuming it's failing at the `getString("url");` line. I couldn't tell you why it was written in a way that made it required, but it appears it may be, along with `userInfo` on Android. Unfortunately I did not write our an

[2019-11-14 19:13] jordanbyron commented on #89
@pssgo review the README again. It appears you added the package in the wrong place. `new AppShortcutsPackage()` should be added to

[code]

[2019-11-14 19:13] #89 closed

[2019-11-14 19:14] jordanbyron commented on #87
@rsml great! Would you be willing to put this together in a PR?

[2019-11-14 19:14] jordanbyron commented on #84
@itsam do you have a small example project that demonstrates the bug we can look at?

[2019-11-23 01:35] rsml commented on #87
@jordanbyron Sure thing. I submitted a pull request.

[2019-11-24 15:08] #87 closed

[2019-11-24 15:08] jordanbyron commented on #87
Thanks @rsml

[2019-12-01 13:09] ammichael opened #92 "[Request] Autolinking for RN 0.60+"
Hi there!

First congrats for this awesome package. Its sure helps me a lot. Thanks! (:

Any chances makings this dependency compatible with the new RN auto linking feature?

Once more, thanks

[2019-12-01 13:41] jordanbyron commented on #92
I’d happily review a PR that adds this. Here are the docs if anyone is interested in taking a stab at it:

https://github.com/react-native-community/cli/blob/master/docs/autolinking.md

[2020-01-07 06:05] jdgalani opened #93 "userInfo object only gives url other data are not there."
OS : MacOs
Platform : android
Device: Samsung Galaxy S9

I am setting Dynamic shorcuts with this code,
[code]

but when I am getting data in `popInitialAction` it is having only `url`, `screenType` and `screenData` are not there.

[code]

is there anything I can do for this?
this is perfectly working for ios ony issue on android.

[2020-02-15 02:26] youssef-md opened #94 "Error after basic setup"
After installing react-native-quick-actions, linking it and adding the example from the README:
[code]

This error happens:
![photo_2020-02-14_23-23-58](https://user-images.githubusercontent.com/29265857/74580282-1a5e8900-4f81-11ea-9b31-977ff6d775fd.jpg)

React Native version: 0.61.5
Tested phone: Zenfone 4
Android Version: 8.0.0

[2020-02-18 16:39] laurent22 commented on #94
Duplicate of https://github.com/jordanbyron/react-native-quick-actions/issues/90

[2020-02-19 15:04] ShuKTan commented on #75
@aminvb12  did you find the solution for this? I am having same problem in my app.

[2020-02-19 19:24] aaguiar66934 commented on #76
**@jordanbyron** I'm having the same issue in which DeviceEventEmmiter is never called in iOS. When the app is closed popoInitialAction() works as expected, but if the app is in background and I click one of the click-actions, the event  'quickActionShortcut' in never triggered. I also think this could be related to [#67 ](https://github.com/jordanbyron/react-native-quick-actions/issues/67).

[2020-02-27 15:09] kirtishjain9 opened #95 "Can quick action be performed on any component within a view like TouchableHighlight?"
Hi jordanbyron,

Can quick action be performed on any component within a view like TouchableHighlight using this library? If so, then could you please guide me how could it be achieved?

Thanks & Regards
Kirtish JAIN

[2020-03-04 11:36] aaguiar66934 commented on #67
Any updates with this issue? **#76** is closed but I think it should be reopened because it seems to be the main problem. This causes iOS apps to not function as expected when in background and a quick action is selected.

[2020-03-09 18:47] aaguiar66934 opened #96 "iOS - Item press not working when app is in background"
In iOS (tested in 13.3.1) when the app is in background, the item press is not working. It seems that the event "quickActionShortcut" is never triggered. My react-native code is as you recommend in the documentation:

[code]
"react": "16.9.0",
 "react-native": "0.61.2",
"react-native-quick-actions": "0.3.13"

[2020-03-18 15:21] lasseworks commented on #96
Having the same issue, on simulator at least, only DeviceEventEmitter works.
`QuickActions.popInitialAction().then((s) => quickAction(s)).catch((a) => console.log('popInitialActionError', a));`
never launches, when app is dead and launching it.

[2020-03-25 17:40] joaodematejr commented on #96
+1

[2020-03-25 17:41] joaodematejr commented on #84
+1

[2020-04-03 16:27] GodsEye-07 commented on #96
Same in Android as well.

[2020-04-07 12:51] hamoudaarfaoui commented on #29
same error RN0.61

[2020-04-20 13:55] ymc-thzi opened #97 "iPhone 11 isSupported returns false"
isSupported returns true on iPhone XS. On iPhone 11 it returns false. I think that is because Apple removed 3D touch from their newer devices and replaced it with a longPress.
Setting and showing items will work as expected on newer iPhones even if it is not supported.

[2020-04-30 12:37] Peretz30 opened #98 "Android static App shortcuts"
For now library supports only dynamic shortcuts for android. Any plans about static ones?
@huangmr

[2020-05-12 12:14] ilkerkesici commented on #96
Hello, is it solved by someone?

[2020-05-15 12:53] ymc-thzi commented on #93
Detected the same issue.

[2020-05-15 12:58] jordanbyron commented on #93
Looks like that is correct. Check out this file from the source:

https://github.com/jordanbyron/react-native-quick-actions/blob/master/android/src/main/java/com/reactNativeQuickActions/UserInfo.java#L15

I didn't implement the android support and am not an android developer so it's not clear to me if this was an oversight or a limitation. I'm happy to review and accept PRs that add the functional

[2020-05-15 13:02] ymc-thzi commented on #93
My current workaround is now to work only with the url param and add the parmas to that... like a common url with query params.
In my popInitialAction/listener I have to parse it then.

[2020-05-15 13:02] jordanbyron commented on #93
Related to #90

[2020-06-13 09:15] jonmountjoy opened #100 "DeviceEventEmitter has been deprecated"
The [DeviceEventEmitter](https://github.com/facebook/react-native/blob/1490ab12ef156bf3201882eeabfcac18a1210352/Libraries/EventEmitter/RCTNativeAppEventEmitter.js#L15) has been deprecated.

I think that this project should use [NativeEventEmitter](https://reactnative.dev/docs/native-modules-android#sending-events-to-javascript) instead (though I don't know "NativeModule" we would use).

[2020-07-07 01:33] Paul-Lategan commented on #60
I seem to be running into the same issue ("RNQuickActionManager.h" file not found), although I'm using Cocoapods.

Unfortunately @leonid-shevtsov's solution did not work for me.   After adding the header search path Leonid specified, the "RNQuickActionManager.h file not found" error goes away, but I get a new error "Undefined symbol: _OBJC_CLASS_$_RNQuickActionManager".
<img width="899" alt="Scree

[2020-07-10 03:33] Paul-Lategan commented on #60
I managed to fix this for Cocoapods by doing the following:

1. Unlink/undo any installation steps you've already tried besides npm install --save react-native-quick-actions.
2. Edit your podfile to include the following line:
`  pod 'RNQuickAction', :podspec => '../node_modules/react-native-quick-actions/RNQuickAction.podspec'`
3. Do cd ios, pod install

[2020-07-18 21:47] marcmoo commented on #57
same error with react native navigation

I have wix react-native-navigation 4.8.1 and upgraded to 6.9.1, both got blank screen - android - start app from short cuts

@aurotones did you find out the solution for this? very appreciated

[2020-08-11 14:36] shukerullah commented on #96
For me listener was working fine but it was triggered before navigator was initialized. I added setTimeout as you can see in following snippet:

[code]

[2020-08-17 07:11] Akateason opened #101 "it doesn't work on iOS14"
it doesn't work on iOS14

[2020-09-16 06:40] Pranay2019 opened #103 "Quick action -> custom icon issue"
Hi, I am facing an issue while setting up custom icon in iOS. Please let me know if anyone having the idea how to fix this .

My code:
QuickActions.setShortcutItems([
      {
        type: "Invoices",
        title: "Invoices",
        icon: Platform.OS == "ios" ? "Invoices" : "invoices",
        userInfo: {
          url: "",
        },
      },

I have created Images.xcassets folder and added In

[2020-12-17 10:30] ShubhamBalgujar opened #104 "popInitialAction() returning null on cold start."
componentDidMount(){
QuickActions.popInitialAction()
            .then(data => console.log(data)
            .catch(console.error);
}
}

Return null in data.
DeviceEventEmitter is working but on cold start it is not working.

ReactNative - 0.60.5
react-native-quick-actions - 0.3.13

[2021-01-24 08:25] badaz commented on #98
Is there a plan to merge the PR someday? Looks like it has been around since May 2020. Looks like the last commits to the master branch of this repo go back to May 2020 too. Is the project still maintained?

[2021-01-25 21:11] jordanbyron commented on #98
Not really. Without a test suite to rely on, and my lack of day-to-day use of react-native, I have not felt comfortable evaluating and merging new PRs to this project. I'd happily unlock commit access to anyone wanting to take up the task.

[2021-03-03 06:28] hanifmhd opened #105 "Deeplink not working on Webview"
It is not working using deep link on Webview
[code]
When I press the Haptic Touch on app logo, it only opens the app

[2021-05-01 08:41] akshitrcrm commented on #104
Hi @ShubhamBalgujar , try disabling Debug options and then check, after a lot of research, I found a comment on this issue. Stopping JS Debug solved the issue for me.

`const result = await QuickActions.popInitialAction()
    console.log('Quick action result ', result);
    alert(result.type)`

https://github.com/react-native-push-notification-ios/push-notification-ios/issues/24#issuecomment-57663

[2021-06-19 17:32] anishtr4 commented on #104
Do you have a working example ? I have tried this disabling  debug still its not working.

[2022-01-31 11:01] Converse-CDigital opened #107 "In ios when app killed it doesn't work"

[2022-03-11 20:46] Hannah-Alto commented on #107
same, not working when launched from a cold start

[2022-03-14 07:50] Converse-CDigital commented on #107
Hi Hannah you can use this one
https://github.com/Converse-CDigital/react-native-quick-actions i fixed the
bug

On Sat, Mar 12, 2022 at 12:46 AM Hannah ***@***.***> wrote:

[2022-04-06 07:36] FansPro commented on #104
Good, it works.

[2022-04-06 07:37] FansPro commented on #104
Amazing! It works.

[2022-06-29 10:46] sjsf commented on #107
Have you considered properly forking this project and creating a pull request against this repository?

[2022-07-10 19:34] zzdravkin commented on #103
Try deleting the application and installing again on your device

[2022-08-25 12:13] kekarot1 opened #108 "Deleting quick actions is not reflecting on app update"
Hi,

I have removed all the usages and package. When we update the app, the quick actions are still shown without icons on the app.
It's getting removed only when we do a fresh install of the app.

Can someone help me fix this issue.
Thanks

[2022-09-15 07:36] MCervenka commented on #103
I also do have this problem, even after clean install. Would be nice, if there would exist some example repo that would use custome icons in dynamically set quick actions.

[2022-09-26 13:15] MCervenka commented on #103
I now noticed even stranger behaviour. It actually copies the shape of the image I want to use but makes it all black. So my circle image is just black circle, and my credit card icon is just black rectangle. And when I put a non-existent name, it is small black dot.

[2022-09-27 05:51] MCervenka commented on #103
@Pranay2019 so I finally figured it out. For ios are acceptable only svg (in assets you need to add Symbol Image set) or png that is single color on transparent background. So basically the ios would use just your shape and provide the color that matches other quick actions